@font-face {
    font-family: 'Nama Font Anda';
    src: url('../../public/font') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
